@import "https://fonts.googleapis.com/css?family=Raleway";
@import "https://fonts.googleapis.com/css?family=Oswald";


$lightgrey: #BDC3C7;
$darkgrey: #2E3131;
$pink: #e08283;
$white: #EEEEEE;
$black: #000000;

html {
	box-sizing: border-box; 
}
* {
	box-sizing: inherit;
	&:before {
		box-sizing: inherit;
	}
	&:after {
		box-sizing: inherit;
	}
}
body {
	background-color: $lightgrey;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	padding: 0;
}

header {
	background-color: $darkgrey;
	color: $white;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 17rem;
}
nav {
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5rem;
	ul {
		padding-left: 0;
		li {
			text-align: center;
			text-decoration: none;
			list-style-type: none;
			padding: 1px;
		}
	}
}

.columnContainer { 
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 20px;
		.column1, .column2, .column3 {
			width: 100%;
			padding: 20px;
			p {
			color: $black;
		}
	}

}

a {
	color: $white;
	text-decoration: none;
	&:hover {
		color: $pink;
	}
}
h1 {
	font-family: 'Raleway', sans-serif;
	color: $white;
	margin: 0;
	padding-top: 1rem;
}
h2 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: $black;
	margin: 0;
	padding-top: 1rem;
}
p {
	font-family: 'Oswald', sans-serif;
}

p.work {
	text-align: center;
}
.containerContent {
	margin: 1rem;
	padding: 1rem;
	max-width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

.containerCV {
	margin: 0 auto;
	img {
		display: flex;
		justify-content: center;
	}
}
form {
	font-family: 'Oswald', sans-serif;
	max-width: 90%;
	border: none;
	margin: 0 auto;
	position: relative;
	background-color: $white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
fieldset {
	color: #000000;
	font-family: 'Oswald', sans-serif;
	border: none;
	padding: 10px;
}
#contact-submit {
	width: 100%;
	border: none;
	background-color: #6c7a89;
	padding: 10px;
	font-size: 1rem;
	color: $white;
}
.contactText {
	text-align: center;
	font-size: 1.5rem;
}
footer {
	position: fixed;
	height: 3rem;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #2E3131;
	color: white;
	text-align: center;
}
.social {
	align-content: center;
	.fab {
		width: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.fa-instagram {
	&:hover {
		color: $pink;
	}
}
.fa-linkedin {
	&:hover {
		color: $pink;
	}
}

/* the following was sourced from w3 schools responsive grid layout and is used on the "work" page. */

.column {
	-ms-flex: 25%;
	flex: 25%;
	max-width: 100%;
	padding: 10px 4px;
	img {
		margin-top: 8px;
		vertical-align: middle;
		border: 3px solid $white;
	}
}
@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}

	form {
		max-width: 50%;
	}

	video, .camera {
		display: block;
    	margin-left: auto;
   		margin-right: auto;
    	width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}

	form {
		max-width: 50%;
	}

	video, .camera {
		display: block;
    	margin-left: auto;
   		margin-right: auto;
    	width: 50%;
	}
}

// this is where the w3 schools responsive grid layout ends, back to regularly scheduled programming //@at-root

@media screen and (min-width: 1300px) {
	nav {
		ul {
			width: 30%;
			align-content: center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			list-style-type: none;
			margin: 0 auto;
			padding: 2rem;
		}
	}
	header {
		height: 150px;
	}
	a {
		padding: .667rem;
    }
    
	.containerCV {
        max-width: 500px;
        
		.resume {
            
            .img {
				margin: 0;
				align-items: center;
				max-width: 500px;
				height: 300px;
				
        }
		}
	}
	
	.columnContainer { 
		display: flex;
		flex-direction: row;
		align-content: center;
		padding: 20px;
			.column1, .column2, .column3 {
				width: 50%;
				padding: 120px;
				p {
				color: $black;
			}
		}
	
	}

	.video, .camera {
		display: block;
    	margin-left: auto;
   		margin-right: auto;
    	width: 50%;
	}

	form {
		font-family: 'Oswald', sans-serif;
		max-width: 50%;
		border: none;
		margin: 0 auto;
		position: relative;
		background-color: $white;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    
	fieldset {
		color: $black;
		font-family: 'Oswald', sans-serif;
		border: none;
		padding: 30px;
	}
	input {
		height: 30px;
		width: 300px;
	}
	textarea {
		height: 200px;
		width: 400px;
	}
}
